################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ManagementPortal/.vs/CumbreAllegro2
/ManagementPortal/bin/Debug/netcoreapp3.1
/ManagementPortal/obj
